<a href="https://colab.research.google.com/github/SickleClaw/Julia-Practice/blob/main/Codewars_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CodeWars - Kyu 6**

### **Problem Statement**
#### If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Finish the solution so that it returns the sum of all the multiples of 3 or 5 below the number passed in. Additionally, if the number is negative, return 0. Note: If a number is a multiple of both 3 and 5, only count it once.

In [17]:
function sumofmultiples(number)
  if number <= 0
    return 0
  else
    list = collect(1:number)
    multiples = Int64[]
    for i in list
      if i%3 == 0
        push!(multiples,i)
      elseif i%5 == 0
        push!(multiples,i)
      end
    end
  end
  return(sum(multiples))
end

sumofmultiples (generic function with 1 method)

In [18]:
## Testing the function

num = 18

return_sum = sumofmultiples(num)

78

In [19]:
## Prototyping

# collect - fucntion used to collect natural number between a range
list = collect(1:18)

multiples_list = Int64[]

for i in list
  if i%3 == 0
    push!(multiples_list, i) # psuh!() - used to append elements in a vector
  elseif i%5 == 0
    push!(multiples_list, i)
  end
end

println("after push", multiples_list)
println("sum of multiples:", sum(multiples_list))

18-element Vector{Int64}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18